
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body>


    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 ">
                <h2>Inicio de sesión</h2>
                
               @using (Html.BeginForm())
               {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="usuario">Usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar sesion</button>
                    </div>
                    <br />
                    <a href="Usuarios/RecuperarContrasena">¿Se te a olvidado la contraseña?</a>
               }
            </div>
        </div>
    </div>
</body>
</html>
